
.vscode/

.ipynb_checkpoints/

corpus/.DS_Store

*.npy

testset/cs-en/.DS_Store

*.pkl

__pycache__/

lightning_logs/

MNIST/

wandb/

checkpoints/

*.ckpt
LASER embeddings/corpus.tar.gz
LASER embeddings/testset.tar.gz
corpus/de-en/.ipynb_checkpoints/ROUGE-checkpoint.ipynb

testset_solved/

bleu/
